<body data-aos="fade-in" data-aos-delay="300">
  <h1 class="text-center text-dark pt-5">
    HELLO SIR ! &nbsp; <i class='bx bx-leaf' style='color:#19c938' ></i>
  </h1>
  <div class="conatiner pt-5">
    <div class="row">
      <p class="text-xl-center text-success fs-1">Flexible Distance Learning</p>
      <p class="text-xl-center fs-6">
        We provide flexible and 24/7 online learning that fits around You.
        Become an industry leader with accredited undergraduate and postgraduate
        courses online. Fully Online.
      </p>
      <hr />
      <div class="col-lg-6 col-sm-12">
        <ul>
          <li class="fs-6 p-2">
            “We are delighted that you have decided to join us. On behalf of
            myself and all of the team, we would like to extend our warmest
            welcome and best wishes.”
          </li>
          <li class="fs-6 p-2">
            “Welcome to the team! We are beyond thrilled to have you at our
            office. We know how much of an asset you will be within our company,
            and we can’t wait to see all that you accomplish.”
          </li>
          <li class="fs-6 p-2">
            “Congratulations and welcome aboard! We’re so glad we chose you to
            help us rise to the next level. Never feel shy about sharing your
            thoughts and ideas – that’s why we brought you on board!”
          </li>
          <li class="fs-6 p-2">
            “Welcome, Champ! Thank you for accepting our job offer. We’re
            confident that we’ll work well together in the weeks and years to
            come. We hope you’ll feel comfortable asking us questions because we
            are here to support you.”
          </li>

        </ul>
      </div>

      <div class="col-lg-6 col-sm-12">
        <img src="/assets/img/course-details-tab-1.png" alt="" />
      </div>
      <div class="col-lg-4 col-sm-12">

      </div>
    </div>
    <hr />
    <h2 class="text-center text-success text-xl-center fs-1">
      Thank You For Choosing Us
    </h2>
    <p class="text-xl-center fs-3">
      We Will Contact You Soon
      <i class="bx bx-wink-smile" style="color: #0a9834"></i>
    </p>
    <div class="text-center">
      <a class="btn btn-outline-success text-center" href="home"
        >Get Started
      </a>
    </div>
  </div>
</body>
