<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DBook Inc</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="home/#popular-courses">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="pricing">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Company
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="event">Blog</a></li>
            <li><a class="dropdown-item" href="about">About Us</a></li>
            <li><a class="dropdown-item" href="contact">Contact us</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-none d-lg-inline-flex">
        <li class="nav-item mx-2">
          <a  class="nav-link text-dark h5" href="https://www.facebook.com/taha.moataz" target="blank"><i class='bx bxl-facebook-circle' style='color:#2c5189'  ></i></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="https://www.linkedin.com/in/taha-moataz" target="blank"><i class='bx bxl-linkedin-square' style='color:#2c5489'  ></i></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-dark h5" href="https://www.instagram.com/taha_moataz/" target="blank"><i class='bx bxl-instagram-alt' style='color:#892c6b'  ></i></a>
        </li>
      </ul>

      <div class="dropdown-center">
        <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Register
        </button>
        <ul class="dropdown-menu">
          <li class="form-control"><a href="create-student" class="btn btn-outline-success">Student</a></li>
          <li class="form-control"><a href="create-teacher" class="btn btn-outline-success">Teacher</a><li>

        </ul>
      </div>


      <a href="login" class="btn btn-outline-info">Log In</a>

    </div>
  </div>
</nav>
