<body data-aos="fade-in"data-aos-delay="300">
  <h1 class="text-center text-dark pt-5">
    HELLO SIR ! &nbsp; <i class='bx bx-leaf' style='color:#19c938' ></i>
  </h1>
  <div class="conatiner pt-5">
    <div class="row">
      <p class="text-xl-center text-success fs-1">Flexible Distance Learning</p>
      <p class="text-xl-center fs-6">
        We provide flexible and 24/7 online learning that fits around You.
        Become an industry leader with accredited undergraduate and postgraduate
        courses online. Fully Online.
      </p>
      <hr />
      <div class="col-lg-4 col-sm-12">
        <ul>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Component Production Equipment</li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Wall Panel Framing and Sheathing</li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Equipment</li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Linear Saws</li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Saws-Component, Radial Arm,</li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Automated Measuring Systems</li>
        </ul>
      </div>

      <div class="col-lg-4 col-sm-12">
        <img src="/assets/img/course-details-tab-2.png" alt="" />
      </div>
      <div class="col-lg-4 col-sm-12">
        <ul>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Material Handling Systems</li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Roll-Off Truss Trailers</li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Waste Reduction Equipment</li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Replacement Production Surfaces</li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Plant Layout Experts/Production </li>
          <li class="fs-5 p-2"><i class='bx bx-check-circle' style='color:#19c938'  ></i> Consultants</li>
        </ul>
      </div>


    </div>
    <hr>
    <h2 class="text-center text-success text-xl-center fs-1">Thank You For Choosing Us </h2>
    <p class="text-xl-center fs-3">We Will Contact You Soon <i class='bx bx-wink-smile' style='color:#0a9834' ></i></p>
    <div class="text-center"><a class="btn btn-outline-success text-center" href="home" >Get Started </a></div>
  </div>
</body>
